body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

/* Section One */

.home {
    color: #4C4B16;
    background-image: url(images/pexels-jorge-zapata-1398688.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 25%;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(200, 193, 193, 0.626);
}

.fa-spaghetti-monster-flying {
    color: #DF2E38;
}

.company{
    font-size: 24px;
    color: #5D9C59;
    font-weight: bold;
    margin-left: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

a {
    text-decoration-line: none;
    color: #DF2E38;
    font-size: 18px;
    margin-right: 20px;
}

.intro-section{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 100px;
    text-align: center; 
}

.intro{
    display:flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
    flex: 1 1 30%;
    justify-content: space-between;
    background-color: rgba(200, 193, 193, 0.737);
    border-radius: 10px;
}

.sub {
    flex: 1 1 auto;
    max-width: 50%;
    align-self: center;
}

.signup{ 
    background-color: #4C4B16;
    border-radius: 8px;
    padding: 15px;
    max-width: 200px;
    color: white;
    align-self: center;
}

@media(max-height: 500px){
    .intro-section{
        padding: 2% 0 0 0;
        font-size: 12px;
        max-height: 2%;
    }
    .intro{
        max-width: 30%;
    }
}

/* Section Two */
.types {
    color: white;
    background-color: #4C4B16;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    min-height: 35%;
    justify-content: space-around;
}
h2 {
    text-align: center;
    margin-top: -50px;
    font-size: 48px;
    font-family: 'Sacramento', cursive;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
}

.card {
    border-radius: 8px;
    height: 300px;
    width: 300px;
}

.captions {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.caption {
    max-width: 150px;
    text-align: center;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}

.cardarea {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    flex-wrap: wrap;
    gap: 25px;
}

/* Section 3 */

.testimonial {
    color: #757304;
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 50px;
    min-height: 20%;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
    line-height: 1.5;
}

.writer {
    text-align: right;
    margin-left: 450px;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    font-weight: bold;
}

/* Section 3 */

.call {
        color: white;
        background-color: #aaa719;
        display: flex;
        flex-direction: column;
        padding: 50px;
        min-height: 10%;
        justify-content: center;
        align-items: center;
}

.cta {
    background-color: #4C4B16;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

h4 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.finale {
    flex: 1;
    margin: 0 40px;
}

.sign {
    align-self: center;
    margin-right: 150px;
    padding: 10px 30px;
    background-color: #aaa719;
    color: white;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
}

/* Section 4 */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4C4B16;
    background-color: white;
    padding: 20px 0;
}